html, body {
    background-color: rgb(43, 43, 114);
    width: 100%;
    height: auto;
}

.nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 40px;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    height: 100%;
}

.nav .spacer {
    flex: 1;
}

.nav li {
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(255, 153, 0);
    align-items: center;
}

.nav li:hover {
    background-color: rgb(250, 229, 123);
}

.nav li:active, .nav li.active {
    background-color: rgb(133, 81, 2);
}

.nav a, .nav a:visited, .nav a:hover, .nav a:active  {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration-line: none;
    height: 100%;
    width: 100%;
}