// package components contains common components to be reused among various pages
package components

// Nav - the navigation bar for choosing which page to view
templ Nav() {
    <nav>
        <ul>
            <li><a href="/want">Want</a></li>
            <li><a href="/got">Got</a></li>
            <li><a href="/shop">Shop</a></li>
        </ul>
    </nav>
}