package components

templ Table() {
    <table class="w-full table-fixed border-separate border-spacing-0 rounded-lg shadow-md sm:text-base text-sm">
        <tbody>
            {children...}
        </tbody>
    </table>
}