package render

templ base() {
	<html>
		<head>
			<link href="/assets/main.css" rel="stylesheet"/>
			<link href="/assets/table.css" rel="stylesheet"/>
			<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
