// package render exposes pages for the hello server
package render

// HomePage - the main page for the hello server
templ HomePage(name string) {
	@page() {
		<div>
			<div id="title">Shopping</div>
		</div>
	}
}


