// package render exposes pages for the hello server
package render

// ShopPage - the main page for the hello server
templ ShopPage() {
	@page() {
		<div>
			<div id="title">Shop</div>
		</div>
	}
}


