// package render exposes pages for the hello server
package render

import (
	"github.com/chrisjpalmer/shoppinglist/backend/shopping/page"
	"github.com/chrisjpalmer/shoppinglist/backend/shopping/render/components"
)

// WantPage - the main page for the hello server
templ WantPage(pageContext page.Context) {
	@base() {
		<div>
			@components.Nav(pageContext)
			<div id="title">Want</div>
		</div>
	}
}


