apiVersion: v1
kind: Service
metadata:
  name: backend
  labels:
    app: backend
    {{- include "backend.labels" . | nindent 4 }}
spec:
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
      nodePort: 30001
    - port: 8081
      targetPort: 8081
      protocol: TCP
      name: http
      nodePort: 30002
  selector:
    app: backend
